
@model iCelerium.Models.DashboardViewModel

@{
    ViewBag.Title = iCelerium.Views.Strings.Home;
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
<script src="~/Scripts/jquery-ui.unobtrusive-2.2.0.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>



}

 
        <h3><i class="fa fa-dashboard"></i>@iCelerium.Views.Strings.Dashboard</h3>

        <hr>

 <!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>@ViewBag.mTotal</h3>
                <p>Montant Total</p>
            </div>
            <div class="icon">
                <i class="fa fa-dollar"></i>
            </div>
            <a href="#" class="small-box-footer">Plus d'info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>@ViewBag.mPerc<sup style="font-size: 20px">%</sup></h3>
                <p>Taux Aujourd'hui</p>
            </div>
            <div class="icon">
                <i class="fa fa-pie-chart"></i>
            </div>
            <a href="#" class="small-box-footer">Plus d'info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>@ViewBag.mNewClient</h3>
                <p>Nouveaux Membres</p>
            </div>
            <div class="icon">
                <i class="fa fa-users"></i>
            </div>
            <a href="#" class="small-box-footer">Plus d'info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>@ViewBag.mUsers</h3>
                <p>Membres TIM-AGRO</p>
            </div>
            <div class="icon">
                <i class="fa fa-user"></i>
            </div>
            <a href="#" class="small-box-footer">Plus d'info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div><!-- ./col -->
</div><!-- /.row -->
        <div class="row">
            <!-- center left-->
            <div class="col-md-6">
                <a href='@Url.Action("TransChart", "Home")'>
                    <div class="panel panel-default">
                        @*<div class="panel-heading"><h4>Processing Status</h4></div>*@
                        <div class="panel-body">
                            <div id="refresh1">
                            @Html.Partial("_TransDaily", Model.Chart1)
                        </div>
                        </div><!--/panel-body-->
                    </div><!--/panel-->
                </a>
            </div><!--/col-->
            <!--center-right-->
            <div class="col-md-6">
                <a href='@Url.Action("PieChart", "Home")'>
                    <div class="panel panel-default">
                        @*<div class="panel-heading"><h4>Processing Status</h4></div>*@
                        <div class="panel-body">
                            <div id="refresh">
                                @Html.Partial("_PieChart", Model.Chart2)
                            </div>
                        </div><!--/panel-body-->
                    </div><!--/panel-->
                </a>
            </div><!--/col-span-6-->

        </div><!--/row-->

