@using iCelerium.Models;
@model List<ClientsViewModel>
@{
    ViewBag.Title = "IndexOne";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>IndexOne</h2>

<div class="row">

    <div class="col-md-12">
        <div class="panel panel-info">
            <table class="table table-striped DataTable dataTable" >
                <thead style=" font-weight:bold" class="alert-info">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.First().ClientId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Name))
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.First().Sexe)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().ClientTel)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Mise)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Solde)
                        </th>

                        <th></th>
                    </tr>
                </thead>
               
            </table>

        </div>
        

    </div>
</div>
<script type="text/javascript" language="javascript">
    $.ajax({
        url: "/Clients/GetData",
        type: "POST",
        data: JSON.stringify(),
        dataType: "json",
        traditional: true,
        contentType: "application/json; charset=utf-8",
        success: function (Jdata) {
            if (Jdata != null) {

                $('.DataTable').DataTable(
                         {
                             "language": {
                                 "lengthMenu": "Projection _MENU_ records par page",
                                 "zeroRecords": "Pas de donnee - Desole!!",
                                 "info": "Projection page _PAGE_ de _PAGES_",
                                 "infoEmpty": "Pas de donne a afficher. Desole!!",
                                 "infoFiltered": "(filtered from _MAX_ total records)"
                             },
                             "ajax": "/Clients/GetData",
                             "columns": [
                                 { "data": "ClientId" },
                                  { "data": "Name" },
                                   { "data": "Sexe" },
                                    { "data": "ClientTel" },
                                     { "data": "Mise" },
                                      { "data": "Solde" },
                                      {
                                          "data": "link", "bSortable": false
                                      }
                             ]
                         });


            }
            else {
                alert("Error occurs on the Database level!");
            }
        },
        error: function () {
            alert("An error has occured!!!");
        }
    });

</script>