@using iCelerium.Models.BodyClasses
@model CreateZoneModel

@{
    ViewBag.Title = "Create";
}

<h3><i class="fa fa-user"></i> @ViewBag.Title</h3>
<hr />
<div class="row">
    <div class="col-md-12 form-horizontal">
        <section id="loginForm">
            @using (Html.BeginForm(new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true)


                <div class="form-group">
                    @Html.LabelFor(model => model.ZoneName, new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.ZoneName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ZoneName)
                    </div>
                </div>





                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <input type="submit" value=@iCelerium.Views.Strings.Save class="btn btn-success" />

                        @Html.ActionLink(@iCelerium.Views.Strings.Cancel, "Index", null, new { @class = "btn btn-default" })

                    </div>
                </div>

            }

        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
    <script src="~/Scripts/jquery-ui.unobtrusive-2.2.0.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
