@model PagedList.IPagedList<iCelerium.Models.AuditViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Log des acces";
}
<link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
<script src="~/Scripts/customScript.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
}
<h3><i class="fa fa-lock"></i>Log des acces</h3><hr />
<div class="row">
    @using (Html.BeginForm("AuditTrail", "Settings", FormMethod.Post))
    {

        <div class="col-md-4">

            <div class="form-group">
                <div class="input-group ">
                    <span class="input-group-addon "><i class="fa fa-calendar bigger-110"></i></span>
                    @Html.TextBox("startDate", null, new { @class = "form-control date-picker Date" })

                </div>
            </div>


        </div>
        <div class="col-md-4">

            <div class="form-group">
                <div class="input-group ">
                    <span class="input-group-addon "><i class="fa fa-calendar bigger-110"></i></span>
                    @Html.TextBox("endDate", null, new { @class = "form-control date-picker Date2" })

                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" value="Go" class="btn btn-success" />
            </div>
        </div>
    }
</div>

<div class="row">
    <div class="panel panel-danger">
        <table class="table table-striped table-condensed">
            <thead style=" font-weight:bold" class="alert-danger">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.First().UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().IPAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().AreaAccessed)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Timestamp)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IPAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AreaAccessed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Timestamp)
                        </td>

                    </tr>
                }
            </tbody>
           
                
        </table>
        <div class="panel-footer">
            @Html.PagedListPager(Model, page => Url.Action("AuditTrail", new { page, startDate = ViewBag.startDate, endDate = ViewBag.endDate }), new PagedListRenderOptions { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true })
        </div>
    </div>
</div>
