@model iCelerium.Models.vTransaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>vTransaction</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_Commercial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Commercial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_Client)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Client)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solde_Ouverture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solde_Ouverture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Debit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Debit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Credit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Credit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solde_Fermeture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solde_Fermeture)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
