@model iCelerium.Models.vTransaction

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>vTransaction</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nom_Commercial, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nom_Commercial)
                @Html.ValidationMessageFor(model => model.Nom_Commercial)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nom_Client, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nom_Client)
                @Html.ValidationMessageFor(model => model.Nom_Client)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Solde_Ouverture, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Solde_Ouverture)
                @Html.ValidationMessageFor(model => model.Solde_Ouverture)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Debit, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Debit)
                @Html.ValidationMessageFor(model => model.Debit)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Credit, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Credit)
                @Html.ValidationMessageFor(model => model.Credit)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Solde_Fermeture, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Solde_Fermeture)
                @Html.ValidationMessageFor(model => model.Solde_Fermeture)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
