@using PagedList.Mvc;
@model PagedList.IPagedList<iCelerium.Models.BodyClasses.AgentListView>


@{
    ViewBag.Title = iCelerium.Views.Strings.Agents;
}
<h3><span class="text-info"><i class="fa fa-users"></i>@ViewBag.Title</span></h3><hr />

<div class="row">

    <div class="col-md-12">
        <div class="panel panel-info">

            <table class="table table-condensed table-striped DataTable dataTable">
                <thead style=" font-weight:bold" class="alert-info">
                    <tr >
                        <th>
                            @Html.DisplayNameFor(model => model.First().AgentId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().AgentName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().AgentTel)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().AgentActif)
                        </th>
                       
                        <th></th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>
</div>

<script type="text/javascript" language="javascript">
    $.ajax({
        url: "/Agents/GetIndex",
        type: "POST",
        data: JSON.stringify(),
        dataType: "json",
        traditional: true,
        contentType: "application/json; charset=utf-8",
        success: function (Jdata) {
            if (Jdata != null) {

                $('.DataTable').DataTable(
                         {
                             "language": {
                                 "lengthMenu": "Projection _MENU_ records par page",
                                 "zeroRecords": "Pas de donnee - Desole!!",
                                 "info": "Projection page _PAGE_ de _PAGES_",
                                 "infoEmpty": "Pas de donne a afficher. Desole!!",
                                 "infoFiltered": "(filtre de _MAX_ total records)",
                                 "search": "<a href='/Agents/Create' class='btn btn-success'><i class='fa fa-plus'></i>Ajouter Nouveau</a>   <i class='fa fa-search'></i>",
                                 "searchPlaceholder": "Filtrer"
                             },
                             "ajax": "/Agents/GetIndex",
                             "columns": [
                                 { "data": "AgentId" },
                                  { "data": "AgentName" },
                                   { "data": "AgentTel" },
                                    { "data": "AgentActif" },
                                      {
                                          "data": "link", "bSortable": false
                                      }
                             ]
                         });


            }
            else {
                alert("Error occurs on the Database level!");
            }
        },
        error: function () {
            alert("An error has occured!!!");
        }
    });

</script>
